@tailwind base;
@tailwind components;
@tailwind utilities;



.progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 4px;
    background: linear-gradient(to right,
        #eff6ff,
        #dbeafe,
        #bfdbfe,
        #93c5fd,
        #60a5fa,
        #3b82f6,
        #ec4899
    );


    transform-origin: 0%;
  }

  

  /*audio::-webkit-media-controls-panel {
    background-color: rgba(77, 77, 77, .9)

    .new::before {
        content: "new";
        color: red;
    }
  }*/
  
  @media(max-width: 350px) {
    audio{
      width: 210px;
    }

    #bars{
      width: 95%;
    }
   
  }

  #danger{
    color: red;
  }

  /* message status*/

  .new::before {
    content: "New";
    font-weight: bold;
    color: red;
  }

  .read::before {
    content: "Read";
    font-weight: bold;
    color: green;
  }


 

  


